body {
  max-width: 100%;
  max-height: 100%;
  font-family: 'Overpass', sans-serif;
  font-size: 17px;
  margin: 0 auto;
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  background-attachment: fixed;
  background-image: url(addins/black-gold.jpg);
}

nav {
  display: flex;
  height: 100px;
}

img {
  display: flex;
  height: 100px;
  opacity: 80%;
}

h4 {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  font-weight: bolder;
  display: flex;
  margin: 50px;
  padding: 20px;
  border-radius: 5%;
  opacity: 95%;
}

section {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  width:90vw;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5%;
  opacity: 95%;
}

.converter {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}

label {
  font-size: 19px;
  font-weight: bolder;
}

#inputNum {
  background-color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 30vw;
  padding: 2px;
  margin-right: 10px;
  box-shadow: 3px 3px;
}

#currencySelector {
  background-color: white;
  overflow: scroll;
  width: 30vw;
  height: 30px;
  font-size: 14px;
  display: flex;
  margin-right: 20px;
  box-shadow: 3px 3px;
}

#convert {
  background-color: white;
  height: 30px;
  width: 70px;
  display: flex;
  margin-right: 10px;
  box-shadow: 3px 3px;
}

#result {
  background-color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30vw;
  margin-right: 10px;
  padding-top: 3px;
  box-shadow: 3px 3px;
}

.lists {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 60vw;
}

#showList {
  background: white;
  font-size: 14px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 50vw;
  justify-content: center;
  box-shadow: 3px 3px;
}

#hideList {
  background: white;
  font-size: 14px;
  display: none;
  margin: 10px;
  padding: 5px auto;
  width: 180px;
  box-shadow: 3px 3px;
}



table, th, td {
  border: 1px solid navy;
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  font-size: 17px;
}

table {
  margin: 0 auto;
  opacity: 95%;
}

.currentTable {
  margin: 0 auto;
  display: none;
}

#moreCurrency {
  background: white;
  font-size: 14px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  width: 55vw;
  justify-content: center;
  box-shadow: 3px 3px;
}

/** Page 2 */

.page2Div {
  display: flex;
}

.page2Description {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);  
  border-radius: 5%;
  display: flex;
  font-size: 20px;
  margin: 20px;
  padding: 5px;
  width: 450px;
  opacity: 95%;
}

ul {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);  
  border-style: double;
  border-radius: 5%;
  margin: 20px;
  padding: 10px 20px;
  width: 180px;
  box-shadow: 3px 3px;
}
h3 {
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.page2Section {
  display: flex;
  margin: 10px auto;
  justify-content: space-evenly;
}

.page2Calculation {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.num1, .num2 {
  display: flex;
  height: 25px;
  width: 40vw;
  justify-content: center;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 3px 3px;
}

.multiply {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);  display: flex;
  justify-content: center;
  font-size: 15px;
  width: 40px;
  height: 30px;
  margin: 0 auto;
  box-shadow: 3px 3px;
}

.calculation {
  background: white;
  display: flex;
  justify-content: center;
  border-style: double;
  font-size: 20px;
  width: 40vw;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 3px 3px;
}

.page2Table {
  width: 95%;
}

#mainPage {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);  
  font-size: 14px;
  margin: 10px;
  padding: 5px auto;
  width: 150px;
  position: absolute;
  right: 0;
}

.upbtn {
  font-size: 40px;
  float: right;
  height: 30px;
  width: 30px;
  margin: 10px;
  bottom: 30px;
  right: 30px;
  text-align: center;
  background-color: rgb(180, 180, 192);
  color: white;
}

/** Media Query */

@media (max-width: 720px) {
  body {
    font-size: 20px;
  }
  .converter {
    flex-direction: column;
  }
  label {
    margin: 0 auto;
    width: 50vw;
  }
  #inputNum {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50vw;
  }
  #currencySelector {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50vw;
  }
  #convert {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 70px;  
  }
  #result {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50vw;
    }
  .page2Section {
    flex-direction: column;
  }
  .num1,
  .num2 {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50vw;
    }  
  .calculation {
    margin: 0 auto;
    margin-top: 10px;
    width: 50vw;  }
}