html,
body {
  max-width: 100%;
  height: 100%;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  margin: 0;
}

nav {
  border: 1px solid navy;
  display: flex;
}

img {
  display: flex;
  height: 100px;
  opacity: 70%;
}

h1 {
  display: flex;
  font-size: 50px;
  margin: 0;
  padding: 20px;
}

h4 {
  background-color: #e3e4e6;
  border: 1px solid navy;
  display: flex;
  margin: 50px;
  padding: 20px;
}

section {
  border: 1px solid navy;
}

.converter {
  background-color: #e3e4e6;
  border: 1px solid navy;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
  padding: 40px;
}

.inputNum {
  height: 20px;
  font-size: 15px;
}

#currencySelector {
  overflow: scroll;
  width: 130px;
  height: 30px;
  font-size: 14px;
}

#result {
  background-color: white;
  border: 1px solid navy;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 150px;
  margin: 0 auto;
  padding: 2px;
}

button {
  height: 25px;
  width: 70px;
}

#showList {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  display: flex;
  margin: 10px;
  padding: 5px auto;
  width: 260px;
}

#hideList {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  display: none;
  margin: 10px;
  padding: 5px auto;
  width: 180px;
}

.currentTable {
  margin: 0 auto;
  align-content: center;
  display: none;
}

table, th, td {
  border: 1px solid navy;
  background-color: #e3e4e6;

}
.nextPage {
  display: flex;
}

#moreCurrency {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  display: flex;
  margin: 10px;
  padding: 5px;
  width: 330px;
  margin-bottom: 20px;
}

#mainPage {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  margin: 10px;
  padding: 5px auto;
  width: 150px;
}

footer {
  border: 1px solid navy;
  text-align: center;
  width: 100%;
  height: 60px;
  position: absolute;
}

/* Page 2 */

.page2Div {
  display: flex;
}

.page2Description {
  background-color: #e3e4e6;
  border: 1px solid navy;
  display: flex;
  font-size: 20px;
  margin: 20px;
  padding: 5px;
  width: 450px;
}

ul {
  background-color: #e3e4e6;
  border: 1px solid navy;
  margin: 20px;
  padding: 10px 20px;
  width: 180px;
}
h3 {
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.num1, .num2{
  height: 20px;
  font-size: 15px;
  margin: 10px;
}

.multiply {
  font-size: 13px;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.calculation {
  background-color: white;
  border: 1px solid navy;
  font-size: 20px;
  height: 20px;
  width: 250px;
  margin: 0 auto;
  padding: 2px;
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 1200px) {
}
