body {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  background-attachment: fixed;
}

nav {
  border: 1px solid navy;
  display: flex;
}

h1 {
  display: flex;
  font-size: 50px;
  margin: 0;
  padding: 20px;
}

img {
  display: flex;
  height: 100px;
  opacity: 60%;
}

h4 {
  background-color: #e3e4e6;
  border: 1px solid navy;
  display: flex;
  margin: 50px;
  padding: 20px;
}

section {
  border: 1px solid navy;
}

.converter {
  background-color: #e3e4e6;
  border: 1px solid navy;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
  padding: 40px;
}

.inputNum {
  height: 30px;
  font-size: 20px;
  display: flex;
  margin-right: 10px;
}
label {
  font-size: 20px;
}

#currencySelector {
  overflow: scroll;
  width: 130px;
  height: 30px;
  font-size: 14px;
  display: flex;
  margin-right: 10px;
}

#result {
  background-color: white;
  border: 1px solid navy;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 150px;
  padding: 2px;
}

button {
  height: 25px;
  width: 70px;
  display: flex;
}

#showList {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  display: flex;
  margin: 10px;
  padding: 5px auto;
  width: 260px;
}

#hideList {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  display: none;
  margin: 10px;
  padding: 5px auto;
  width: 180px;
}

.currentTable {
  margin: 0 auto;
  display: none;
}

.page2Table {
  max-width: 80%;
}

table, th, td {
  border: 1px solid navy;
  background-color: #e3e4e6;
}
.nextPage {
  display: flex;
}

#moreCurrency {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  display: flex;
  margin: 10px;
  padding: 5px;
  width: 340px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Page 2 */

.page2Div {
  display: flex;
}

.page2Description {
  background-color: #e3e4e6;
  border: 1px solid navy;
  display: flex;
  font-size: 20px;
  margin: 20px;
  padding: 5px;
  width: 450px;
}

ul {
  background-color: #e3e4e6;
  border: 1px solid navy;
  margin: 20px;
  padding: 10px 20px;
  width: 180px;
}
h3 {
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.page2Section {
  border: 1px solid navy;
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
}

.page2Calculation {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.num1,
.num2 {
  display: flex;
  height: 25px;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.multiply {
  background-color: #e3e4e6;
  display: flex;
  justify-content: center;
  font-size: 15px;
  width: 40px;
  height: 30px;
  margin: 0 auto;
}

.calculation {
  background-color: white;
  border: 1px solid navy;
  display: flex;
  justify-content: center;
  font-size: 20px;
  width: 250px;
  margin: 10px auto;
  padding: 5px;
}

#mainPage {
  background-color: white;
  border: 1px solid navy;
  font-size: 14px;
  margin: 10px;
  padding: 5px auto;
  width: 150px;
  float: right;
}

.upbtn {
  font-size: 40px;
  float: right;
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 30px;
  margin: 10px;
  text-align: center;
  background-color: rgb(180, 180, 192);
  color: white;
}

@media (max-width: 610px) {
  h1 {
    font-size: 40px;
  }
  body {
    font-size: 17px;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 30px;
  }
  img {
    height: 85px;
  }
  body {
    font-size: 20px;
  }
  .converter {
    flex-direction: column;
  }
  #inputNum {
    margin-bottom: 10px;
  }
  button {
    margin-bottom: 10px;
  }
  .page2Section {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 25px;
  }
  body {
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 20px;
  }
  body {
    max-width: 100%;
  }
}
